body{
            margin: 0 ;
            background-color: white;
            
            
        }
        .nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #EBE1F8;
        }
        .navbar{
            margin-right: 20px;
        }
        .navbar a{
            text-decoration: none;
            padding: 5px;
            color: #702A8C;
        }
        .icon{
            padding: 0 20px;
        }
        .tb{
            margin: 15px;
            border-radius: 4px;
            margin-left: auto;
            margin-right: auto;
            background-color: #EBE1F8;
            padding: 10px 10px;
            border-spacing: 10px;
        }
        .tb td{
            width: 400px;
        }
        .tb td input{
            width: 400px;
        }
        .tb td textarea{
            width: 400px;
        }
        .tb td select{
            width: 400px;
        }
        .tb h1{
            text-align: center;
            color: #702A8C;
        }
        .tb input[type="checkbox"],
        .tb input[type="radio"] {
        margin-right: 5px;
        }
       
        .button{
            background: #702A8C;
            border-color: #702A8C;
            color: white;
            border-radius: 10px;
            width: 400px;
            
        }