 body{
            margin: 0 ;
            background-color: white;
            margin-bottom: 20px;
            
        }
        .nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #EBE1F8;
        }
        .navbar{
            margin-right: 20px;
        }
        .navbar a{
            text-decoration: none;
            padding: 5px;
            color: #702A8C;
        }
        .icon{
            padding: 0 20px;
        }
        p{
            text-align: center;
            padding: 0px;
        }
         h1{
            text-align: center;
        }
        .tb{
            margin-left: auto;
            margin-right: auto;
        }
        .purple{
            color: violet;
        }