body{
            margin: 0 ;
            background-color: white;
            
            
        }
        .nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #EBE1F8;
        }
        .navbar{
            margin-right: 20px;
        }
        .navbar a{
            text-decoration: none;
            padding: 5px;
            color: #702A8C;
        }
        .icon{
            padding: 0 20px;
        }
        .box{
            background-color:#EBE1F8 ;
            width: 400px;
            height: 400px;
            border-radius: 10px;
            margin: 40px;
            padding-left: 10px;
        }
        .img{
            padding: 10px 70px;
        }
        .btn{
            background: #702A8C;
            border-color: #702A8C;
            color: white;
            border-radius: 5px;
        }
        h3{
            color: rgb(189, 66, 189);
        }
        .s122{
            padding-top: 40px;
            padding-left: 180px;
        }
        p{
            text-align: center;
        }