body{
    background-color: rgb(245, 240, 234);
}

.navbar{
     display: flex;
    justify-content: space-between;
    align-items: center;
}



.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a{
    text-decoration: none;
    color: black;
}
.btn{
    background-color: blue;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    
    
}
.tb{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
    border-spacing: 10px;
    width: 700px;
}
.tb input{
    width: 400px;
}
.tb select{
    width: 400px;
}

