.nav{
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav a{
    text-decoration: none;
    color: black;
}
h1{
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
input{
    margin-left: 550px;
    margin-top: 30px;
    
}
.btn{
    background-color: blue;
    color: white;
    border-radius: 3px;
    
    margin-right: 10px;
}